[submodule "dot/vim/pathogen"]
	path = config/vim/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "dot/vim/plugins/vim-signify"]
	path = config/vim/plugins/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule "dot/vim/colors/submodules/jellybeans.vim"]
	path = config/vim/plugins/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim
[submodule "vim-airline"]
	path = config/vim/plugins/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "dot/vim/plugins/ctrlp"]
	path = config/vim/plugins/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "extern/DaveScripts"]
	path = extern/DaveScripts
	url = https://github.com/DaveDavenport/RandomScripts.git
[submodule "extern/rofi_android_theme"]
	path = extern/rofi_android_theme
	url = https://github.com/blueforesticarus/rofi_android_theme.git
[submodule "extern/i3-focus-last"]
	path = extern/i3-focus-last
	url = https://github.com/s-urbaniak/i3-focus-last.git
[submodule "config/vim/extra_colors"]
	path = config/vim/extra_colors
	url = https://github.com/blueforesticarus/more_vim_colorschemes
[submodule "config/vim/plugins/rust.vim"]
	path = config/vim/plugins/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "config/vim/plugins/syntastic"]
	path = config/vim/plugins/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "config/vim/plugins/vim-ripgrep"]
	path = config/vim/plugins/vim-ripgrep
	url = http://github.com/jremmen/vim-ripgrep.git
[submodule "config/vim/plugins/undotree"]
	path = config/vim/plugins/undotree
	url = http://github.com/mbbill/undotree.git
[submodule "config/vim/plugins/vim-flake8"]
	path = config/vim/plugins/vim-flake8
	url = http://github.com/nvie/vim-flake8
