[Unit]
Description=Pipewire easyeffects
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/easyeffects --gapplication-service

[Install]
WantedBy=graphical-session.target
