[Unit]
Description=Run jupyterlab as a service

[Service]
ExecStart=/usr/bin/jupyter notebook --notebook-dir=/home --no-browser

[Install]
WantedBy = default.target
