#update mirrorlist once a month
[Unit]
Description=Update mirrorlist every month

[Timer]
OnCalendar=monthly
Persistent=true

[Install]
WantedBy=timers.target
